# Python bytecode files
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

# IDE/editor files
.vscode/
.idea/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pipenv and Poetry virtual environments (optional)
Pipfile.lock
poetry.lock
